<app-basecard>
  <h1>ParticleTS Demo</h1>
</app-basecard>
<app-basecard>
  <h2>Intro</h2>
  <p>
    This relatively small Angular project acts as a example of an <a href='https://vincentgarreau.com/particles.js/' target="_blank">ParticleJS</a> implementation. It uses the <a href='https://www.npmjs.com/package/tsparticles' target="_blank">particleTS npm package</a>, and some configuration in this project. 
    It's a great addition of every modern (frontend) website and -app. ParticleJS is also very configurable and available for a variety of frameworks like Angular, VueJS and React. and other places. 
  </p>

  <p>
    To get started (in Angular):
    npm i &#64;tsparticles &#64;tsparticles/angular &#64;tsparticles/engine &#64;tsparticles/slim. You can use this project as an example also. You may want to adjust CSS in your project to ensure proper layering (particle element might display above content).
    For implementations in other frameworks or just in a static .html file, check the resources / links mentioned in this page.
  </p>
  <p>
    Side note: It was quite a hassle to get the configuration work, it seems like the examples online (from the docs, tutorials ect.) simply don't fit well with this setup. Unfortunately, I could not find a source that worked out for me (aside from AI).
  </p>
</app-basecard>
<ngx-particles class="particleEl"
  [id]="id"
  [options]="particlesOptions"
  (particlesLoaded)="particlesLoaded($event)"
>
</ngx-particles>
